[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "INSPECTumours"]
	path = INSPECTumours
	url = https://github.com/cran/INSPECTumours
